
footer{
    background: #A7D6FE;
    height: 40px;
    text-align: center;
}
header{
    background: #A7D6FE;
    height: 20%;
}
#contenido{
    background: white;
    padding-bottom: 50%;
    margin-bottom: 0%;
}
body{
    background: #EAD8C3;
}
h1{
    margin: 0px;
    font-size: 100px;
}
p{
    margin: 0px;
}
#menu ol{
    position: relative;
    float: left;
    text-align: center;
    padding: 0px;
    width: 100px;
    list-style: none;
}
#menu ol li ol {
    position: absolute;
    padding: 0px;
    list-style: none;
    width: 100px;
    visibility: hidden;
    margin-left: -100px;
    margin-top: -25px;
}
#menu ol li:hover ol li{
    visibility: visible;    
}
nav{
    padding-top: 30px;
    width: 80%;
    float: right;
}
#menu{
    position: relative;
    float: right;
    width: 20%;
    margin-top: 20px;
}
#menu ol{
    float: right;
}
#menu li{
    font-size: 20px;
    border: 4px;
    border-style: solid;
    border-color: rgb(0, 18, 41);
    background: #8DC4FD;
}

#menu li:hover{
    border-color: rgb(4, 0, 41);
    background: #7DAEE9;
}
#principal{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    min-width: 550px;
}

.texto
{
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
 overflow: visible;
 border-style: inset;
 border-radius: 15%;
}
.boton
{
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 overflow: visible;
 border-style: groove;
 border-radius: 10%;
}
form p{
    font-style: italic;
    font-weight: bolder;
}