
footer{
    background: grey;
    height: 40px;
    text-align: center;
}
header{
    background: grey;
    height: 20%;
}
#contenido{
    background: white;
    padding-bottom: 50%;
    margin-bottom: 0%;
}
body{
    background: rgb(197, 197, 197);
}
h1{
    margin: 0px;
    font-size: 100px;
}
p{
    margin: 0px;
}
ol{
    margin: 0px;
}
nav{
    padding-top: 30px;
    width: 80%;
    float: left;
}
#menu{
    float: left;
    width: 20%;
    margin-bottom: 10%;
    margin-top: 10%;
}
#menu li{
    font-size: 15px;
}

#menu li:hover{
    font-size: 20px;
}
#principal{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}